@charset "UTF-8";
body{
	font-family:"휴먼모음T";
}
div,section,header,aside,footer{
	padding:10px;
}

div#container{
	background-color:#f0f0f0;
	width:960px;
	margin:0 auto;
}
header{
	background-color:#00bcd4;
	height:130px;
	position:relative;
	padding:10px 0 0;
}
section#content{
	background-color:#f5f5f5;
	float:left;
	width:940px;
	min-height:500px;
}

footer{
	background-color:#00bcd4;
	clear:both;
	height:75px;
	text-align:center;
	padding-top:40px;
}

/* 로그인메뉴설정 */
header div.login-container{
	width:250px;
	position: absolute;
	right:0px;
	top:10px;
}
#loginFrm table{
	empty-cells:hide;
}
#loginFrm input[type='submit']{
	width:60px;
	height:50px;
	color:white;
	background-color: #3300ff;
	position: absolute;
	top:10px;

}
#saveId+label{
	font-size:12px;
	font-family: '고딕';
}

/* 메뉴관련스타일 */
header nav {background:#5283de; width:100%; margin-top:40px;}
	
/* ul태그의 가운데정렬 */
ul.main-nav{
	/* width:80%; */
	display:table;
	padding:0px;
	margin:auto;
}
ul.main-nav li { 
	list-style-type: none; 
	width: 8em; 
	height: 2em;
	float: left; 
	text-align: center; 
	font-family: "휴먼모음T", sans-serif; 
	border-left: 1px #00bcd4 solid;
	background-color: #5283de; 
}
ul.main-nav li:last-of-type{border-right:1px #00bcd4 solid;;}
ul.main-nav li a {
	/*a태그의 display기본값은 inline임*/
	/* inline요소의 padding, margin은 제대로 동작하지 않음.(컨텐츠의 시각요소기준으로 제멋대로임	) */
	display: block;
	padding:.5em;
	text-decoration: none;
	color: #292929;
}

/* hover시 배경색 변경 */
ul.main-nav li:hover{
	background-color: #3300ff;
}
ul.main-nav li:hover > a{
	color:#FFF; /* 글자색*/
}

